/* Admin bar deploy button */
#wpadminbar .nd-deploy-button .dashicons {
    font-family: "dashicons";
    font-size: 20px;
}
.nd-deploy-button .msg {
    display: none;
}
.nd-status-success .msg-success,
.nd-status-building .msg-building,
.nd-status-failed .msg-failed {
    display: inline-block;
}
